/* concordia product theme */

// ATTENTION: Take great care to style only elements on pages you really want to change based on a product theme!!!
//            These pages are normally 'product', 'cart', 'checkout', 'payment', 'payment_static'
//            !!! You should NOT add styles that apply to all pages/elements here !!!
// HINT: with :not([data-confirmation-controller-called=True]) we exclude this design on one page of the shop! Cool ;)

body[data-on-shop-page=True][data-latest-product-theme=cona_inline_test]:not([data-confirmation-controller-called=True]) {

/*Containerabstand*/

.container {
  padding-right: 0px;
  padding-left: 0px;

  .row {
    margin-left: 0px;
    margin-right: 0px;

    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

}


  /*Zurueckbutton ausgeblendet*/

#wsd_checkout_steps_nav {
  display: none;
}


  /*Rahmen rundherum*/
.panel-default {
  border-color: none;
}

.panel {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*Headline ausblenden*/

h1 {display: none;
}

h3 {
  display: none;
}

/*Spenden-Button*/

.btn {
  border: none;
}

.btn-xl {
  border-radius: 0px;
}

#add_to_cart {
  border-radius: 0px;
}

a#add_to_cart {
  font-weight: 800;
}

.btn-primary {
  -webkit-box-shadow: none;
  box-shadow: none;

}

a.btn-primary {
  background-color: rgb(242,142,33) !important;
  color: white;
  font-size: 1.5rem;
}

/*Spendenbetraege*/

  .btn-default:active:hover, 
  .btn-default.active:hover, 
  .open > .dropdown-toggle.btn-default:hover, 
  .btn-default:active:focus, 
  .btn-default.active:focus, 
  .btn-default:active:focus-visible, 
  .btn-default.active:focus-visible,
  .btn-default:focus-visible,
  .btn-default:focus,
  .open > .dropdown-toggle.btn-default:focus {
    background-color: rgb(241,142,33);
    color: white;
    border: none;
    outline: none;
  }

  .btn-primary,
  .btn-default,  
  .open > .dropdown-toggle .btn-default {
    background-color: rgba(241,142,33,0.2);
    color: rgb(60,60,60);
  }


.price_donate_suggested_currency {
  font-size: 12px;
}

/*Ihr Betrag*/

.input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child) {
  border: none;
  background-color: rgba(241,142,33,0.2);
  color: rgb(60,60,60);
  box-shadow: none;
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  display: none;
}

.price_donate .input-group-addon {
  box-shadow: none;
  color: rgb(40,40,40);
  min-width: 70px;
  background-color: rgba(241,142,33,0.2);
  border: none;
}

.price_donate, #description_sale {
  padding: 0;
}

/*Warenkorb*/

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: transparent;
}



.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: 0px solid white;
}

a[name="product_name"] {
  display: none;
}

.js_quantity {
  display: none;
}

div[name="product_payment_interval"] {
  display: none;
}

.remove_product {
  display: none;
}

#cart_total {
  display: none;
}

.oe_currency_value {
  font-weight: 800;
}

.oe_currency_value::before {
  content: "Spendenbetrag: "; 
}

thead {
  display: none;
}

td .text-right[name="product_price_quantity"] {
  width: 100% !important;
}

/*Info Symbol*/

.glyphicon-info-sign {
  color: orange;
  background-color: white;
  border-color: white;
}

.glyphicon-info-sign:hover {
  color: orange;
  background-color: white;
  border-color: white;
}

.glyphicon {
  font-size: 15px;
}

/*Textbereich in Formular*/

.fsoforms_field_snippet .row {
  margin-left: 0px;
  margin-top: -15px;
  font-size: 15px;
}

/*Pflichtfelder Textfarbe*/

.text-danger {
  color: #808080;
}

#wsd_checkout_form label.control-label.mandatory.text-danger {
  color: #808080;
}

.has-success .help-block, .has-success .control-label, .has-success .radio, .has-success .checkbox, .has-success .radio-inline, .has-success .checkbox-inline, .has-success.radio label, .has-success.checkbox label, .has-success.radio-inline label, .has-success.checkbox-inline label {
  color: #808080;
}


/*Form-Eintragungsfeld*/

.has-success .form-control {
  border-color: #cccccc;
}

.has-success .form-control-feedback {
  color: #b1c800;
}

.form-control:focus {
  border-color: #b1c800;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input:-internal-autofill-selected {
  background-color: -internal-light-dark(rgb(246, 254, 232), rgba(106, 126, 70, 0.4)) !important;

}

/*Zahlungsarten*/

#payment_method .nav.nav-tabs li.active a:hover {
  background-color: rgb(253,197,120);
}

#payment_method .nav.nav-tabs li.active a {
  background-color: rgb(253,197,120);
}

#payment_method .nav.nav-tabs a.focus, 
#payment_method .nav.nav-tabs a.focus-visible,
#payment_method .nav.nav-tabs a.hover {
  outline: 0;
  outline-offset: 0;

}

/*Letzter Spendenbutton*/


/*Rechnungsanschrift Seite 3*/

div.payment_billing_address {
  display: none;
}

/*Warenkorbansicht mobil*/

@media (max-width: 500px) {
  .oe_cart table td:last-child, .oe_cart table td:nth-last-child(2), #modal_optional_products table td:last-child, #modal_optional_products table td:nth-last-child(2) {
      width: 100% !important;
    }
  }

@media (max-width: 400px) {
  .oe_cart table td:last-child, .oe_cart table td:nth-last-child(2), #modal_optional_products table td:last-child, #modal_optional_products table td:nth-last-child(2) {
      width: 100% !important;
    } 
  } 

}
