/* concordia product theme - for One Page Checkout*/
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) {
  /*Containerabstand*/
  /*Rahmen rundherum*/
  /*Headline ausblenden*/
  /*Spenden-Button*/
  /*Spendenbetraege*/
  /*Spenden-Intervall*/
  /*Warenkorb*/
  /*Formfelder Abstand
  
  #wsd_checkout_form .form-group {
    margin-left: 0px;
  }
  */
  /*Info Symbol*/
  /*Textbereich in Formular*/
  /*Pflichtfelder Textfarbe*/
  /*Form-Eintragungsfeld*/
  /*Zahlungsarten*/
  /*Zahlungsarten-Rahmen*/
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container {
  padding-right: 0px;
  padding-left: 0px;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row {
  margin-left: 0px;
  margin-right: 0px;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-xs-1,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-sm-1,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-md-1,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-lg-1,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-xs-2,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-sm-2,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-md-2,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-lg-2,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-xs-3,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-sm-3,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-md-3,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-lg-3,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-xs-4,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-sm-4,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-md-4,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-lg-4,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-xs-5,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-sm-5,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-md-5,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-lg-5,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-xs-6,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-sm-6,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-md-6,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-lg-6,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-xs-7,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-sm-7,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-md-7,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-lg-7,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-xs-8,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-sm-8,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-md-8,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-lg-8,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-xs-9,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-sm-9,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-md-9,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-lg-9,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-xs-10,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-sm-10,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-md-10,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-lg-10,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-xs-11,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-sm-11,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-md-11,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-lg-11,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-xs-12,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-sm-12,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-md-12,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .col-lg-12 {
  padding-left: 0px;
  padding-right: 0px;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .container .row .panel-body {
  padding: 0;
  margin-left: 0px;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .panel-default {
  border-color: none;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .panel {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) h1 {
  display: none;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) h3 {
  display: none;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .btn {
  border: none;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .btn-xl {
  border-radius: 0px;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) #add_to_cart {
  border-radius: 0px;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) a#add_to_cart {
  font-weight: 800;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .btn-primary {
  -webkit-box-shadow: none;
  box-shadow: none;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) a.btn-primary {
  background-color: #f28e21 !important;
  color: white;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) a.btn-primary span {
  font-size: 2.5rem;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) div.text-left {
  margin-bottom: 25px;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) div.product_price.mt16 {
  margin-left: -10px;
  margin-right: -10px;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) div.product_price.mt16 .form-group {
  padding-left: 5px;
  padding-right: 5px;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .form-group {
  margin-bottom: 10px;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .btn:focus,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .btn:active:focus,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .btn.focus,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .btn:active.focus,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .btn.active.focus {
  outline: 0 auto transparent;
  outline-color: transparent;
  outline-style: auto;
  outline-width: 0;
  outline-offset: 0;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .product_price .btn {
  border-radius: 0px;
  font-size: 24px;
  font-weight: bold;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .product_price .btn-default {
  background: none;
  background-color: #EFEFEF;
  color: #323232;
  box-shadow: none;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .product_price .btn-default:active {
  box-shadow: none;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .product_price .btn-primary,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .product_price .btn-primary:active,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .product_price .btn-primary:focus,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .product_price .btn-primary:hover,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .product_price btn-primary > a:visited {
  background: none;
  background-color: #b1c800;
  border-color: none;
  box-shadow: none;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .product_price .arbitrary_price_form_group .form-control {
  border: none;
  border-radius: 0px;
  font-size: 24px;
  font-weight: bold;
  height: 47px;
  text-align: center;
  color: #505050;
  background-color: #EFEFEF;
  box-shadow: none;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .product_price .arbitrary_price_form_group .input-group-addon {
  background: none;
  background-color: #EFEFEF;
  border-radius: 0px;
  border: none;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .product_price .arbitrary_price_form_group .input-group-addon:active,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .product_price .arbitrary_price_form_group .input-group-addon:focus {
  background-color: #b1c800;
  color: #ffffff;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .product_price .arbitrary_price_form_group #price_donate:active,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .product_price .arbitrary_price_form_group #price_donate:focus,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .product_price .arbitrary_price_form_group #price_donate > a:visited {
  background-color: #b1c800;
  color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .product_price #price_donate.btn-primary {
  background-color: #b1c800;
  color: #ffffff;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) #payment_intervals hr {
  display: none;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) small .payment_interval_info h4 {
  font-size: 15px;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .form-control[name="payment_interval_id"] {
  border: none;
  box-shadow: none;
  background-color: #EFEFEF;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: transparent;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .table > thead > tr > th,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .table > tbody > tr > th,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .table > tfoot > tr > th,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .table > thead > tr > td,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .table > tbody > tr > td,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .table > tfoot > tr > td {
  border-top: 0px solid white;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) a[name="product_name"] {
  display: none;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .js_quantity {
  display: none;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) div[name="product_payment_interval"] {
  display: none;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .remove_product {
  display: none;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) #cart_total {
  display: none;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .oe_currency_value {
  font-weight: 800;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .oe_currency_value::before {
  content: "Spendenbetrag: ";
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) thead {
  display: none;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) td .text-right[name="product_price_quantity"] {
  width: 100% !important;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .glyphicon-info-sign {
  color: orange;
  background-color: white;
  border-color: white;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .glyphicon-info-sign:hover {
  color: orange;
  background-color: white;
  border-color: white;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .glyphicon {
  font-size: 15px;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .fsoforms_field_snippet .row {
  margin-left: 0px;
  margin-top: -15px;
  font-size: 15px;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .text-danger {
  color: #808080;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) #wsd_checkout_form label.control-label.mandatory.text-danger {
  color: #808080;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .has-success .help-block,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .has-success .control-label,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .has-success .radio,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .has-success .checkbox,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .has-success .radio-inline,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .has-success .checkbox-inline,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .has-success.radio label,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .has-success.checkbox label,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .has-success.radio-inline label,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .has-success.checkbox-inline label {
  color: #808080;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .has-success .form-control {
  border-color: #cccccc;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .has-success .form-control-feedback {
  color: #b1c800;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .form-control:focus {
  border-color: #b1c800;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) input:-internal-autofill-selected {
  background-color: -internal-light-dark(#f6fee8, rgba(106, 126, 70, 0.4)) !important;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .form-control {
  box-shadow: none;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) #payment_method .nav.nav-tabs li.active a:hover {
  background-color: #fdc578;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) #payment_method .nav.nav-tabs li.active a {
  background-color: #fdc578;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) #payment_method .nav.nav-tabs a.focus,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) #payment_method .nav.nav-tabs a.focus-visible,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) #payment_method .nav.nav-tabs a.hover {
  outline: 0;
  outline-offset: 0;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .nav-tabs > li.active > a,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .nav-tabs > li.active > a:hover,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .nav-tabs > li.active > a:focus {
  border: 0px;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) .nav-tabs > li > a {
  border: none;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) div#payment_method.row.js_payment.wsd_opc_payment {
  margin-left: 0px;
  margin-right: 0px;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) div#payment_method.row.js_payment.wsd_opc_payment .form-group {
  padding-left: 0;
  padding-right: 0;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) div#payment_method.row.js_payment.wsd_opc_payment .form-group .form-control {
  box-shadow: none;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline]:not([data-confirmation-controller-called=True]) #payment_method .acquirer_pre_msg p {
  padding: 8px 0 8px 0;
}
