/* concordia product theme */
body[data-on-shop-page=True][data-latest-product-theme=cona_inline_test]:not([data-confirmation-controller-called=True]) {
  /*Zurueckbutton ausgeblendet*/
  /*Rahmen rundherum*/
  /*Headline ausblenden*/
  /*Spenden-Button*/
  /*Spendenbeträge*/
  /* Product Price Buttons and Input*/
  /*Info Symbol*/
  /*Pflichtfelder Textfarbe*/
  /*Form-Eintragungsfeld*/
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline_test]:not([data-confirmation-controller-called=True]) #wsd_checkout_steps_nav {
  display: none;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline_test]:not([data-confirmation-controller-called=True]) .panel-default {
  border-color: none;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline_test]:not([data-confirmation-controller-called=True]) .panel {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline_test]:not([data-confirmation-controller-called=True]) h1 {
  display: none;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline_test]:not([data-confirmation-controller-called=True]) h3 {
  display: none;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline_test]:not([data-confirmation-controller-called=True]) .btn-xl {
  border-radius: 0px;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline_test]:not([data-confirmation-controller-called=True]) #add_to_cart {
  border-radius: 0px;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline_test]:not([data-confirmation-controller-called=True]) a#add_to_cart {
  font-weight: 800;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline_test]:not([data-confirmation-controller-called=True]) .btn-primary {
  -webkit-box-shadow: none;
  box-shadow: none;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline_test]:not([data-confirmation-controller-called=True]) .price_donate_suggested_outer {
  /* Donation Buttons*/
  /* Arbitrary Price Input*/
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline_test]:not([data-confirmation-controller-called=True]) .price_donate_suggested_outer .btn {
  border: none;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline_test]:not([data-confirmation-controller-called=True]) .price_donate_suggested_outer .btn-default {
  background: none;
  background-color: #f18e00;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: none;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline_test]:not([data-confirmation-controller-called=True]) .price_donate_suggested_outer .btn-primary,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline_test]:not([data-confirmation-controller-called=True]) .price_donate_suggested_outer .btn-primary:active,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline_test]:not([data-confirmation-controller-called=True]) .price_donate_suggested_outer .btn-primary:focus,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline_test]:not([data-confirmation-controller-called=True]) .price_donate_suggested_outer .btn-primary:hover,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline_test]:not([data-confirmation-controller-called=True]) .price_donate_suggested_outer btn-primary > a:visited {
  background: none;
  background-color: #f37021;
  border-color: none;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline_test]:not([data-confirmation-controller-called=True]) .price_donate_suggested_outer .form_group .form-control {
  background-color: #f18e00;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline_test]:not([data-confirmation-controller-called=True]) .price_donate_suggested_outer .form_group .input-group-addon {
  background: none;
  background-color: #f18e00;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline_test]:not([data-confirmation-controller-called=True]) .price_donate_suggested_outer .form_group .input-group-addon:active,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline_test]:not([data-confirmation-controller-called=True]) .price_donate_suggested_outer .form_group .input-group-addon:focus {
  background-color: #f37021;
  color: #ffffff;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline_test]:not([data-confirmation-controller-called=True]) .price_donate_suggested_outer .form_group #price_donate:active,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline_test]:not([data-confirmation-controller-called=True]) .price_donate_suggested_outer .form_group #price_donate:focus {
  background-color: #f18e00;
  color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline_test]:not([data-confirmation-controller-called=True]) .price_donate_suggested_currency {
  font-size: 12px;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline_test]:not([data-confirmation-controller-called=True]) .glyphicon-info-sign {
  color: orange;
  background-color: none;
  border-color: none;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline_test]:not([data-confirmation-controller-called=True]) .glyphicon {
  font-size: 15px;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline_test]:not([data-confirmation-controller-called=True]) .text-danger {
  color: #808080;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline_test]:not([data-confirmation-controller-called=True]) #wsd_checkout_form label.control-label.mandatory.text-danger {
  color: #808080;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline_test]:not([data-confirmation-controller-called=True]) .has-success .help-block,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline_test]:not([data-confirmation-controller-called=True]) .has-success .control-label,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline_test]:not([data-confirmation-controller-called=True]) .has-success .radio,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline_test]:not([data-confirmation-controller-called=True]) .has-success .checkbox,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline_test]:not([data-confirmation-controller-called=True]) .has-success .radio-inline,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline_test]:not([data-confirmation-controller-called=True]) .has-success .checkbox-inline,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline_test]:not([data-confirmation-controller-called=True]) .has-success.radio label,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline_test]:not([data-confirmation-controller-called=True]) .has-success.checkbox label,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline_test]:not([data-confirmation-controller-called=True]) .has-success.radio-inline label,
body[data-on-shop-page=True][data-latest-product-theme=cona_inline_test]:not([data-confirmation-controller-called=True]) .has-success.checkbox-inline label {
  color: #808080;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline_test]:not([data-confirmation-controller-called=True]) .has-success .form-control {
  border-color: #cccccc;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline_test]:not([data-confirmation-controller-called=True]) .has-success .form-control-feedback {
  color: #b1c800;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline_test]:not([data-confirmation-controller-called=True]) .form-control:focus {
  border-color: #b1c800;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
body[data-on-shop-page=True][data-latest-product-theme=cona_inline_test]:not([data-confirmation-controller-called=True]) input:-internal-autofill-selected {
  background-color: -internal-light-dark(#f6fee8, rgba(106, 126, 70, 0.4)) !important;
}
