@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400%3b0,700%3b0,800%3b1,400%3b1,700%3b1,800&display=swap");
/* FEHLERHAFT LÖSUNG ersetze Semicolon https://github.com/laravel-mix/laravel-mix/issues/2430
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap');
*/



/*
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('addons/cona_config/static/src/css/fonts/fira-sans-v16-latin-regular.eot'); 
    src: local('Fira Sans'),
         url('addons/cona_config/static/src/css/fonts/fira-sans-v16-latin-regular.eot?#iefix') format('embedded-opentype'), 
         url('addons/cona_config/static/src/css/fonts/fira-sans-v16-latin-regular.woff2') format('woff2'), 
         url('addons/cona_config/static/src/css/fonts/fira-sans-v16-latin-regular.woff') format('woff'), 
         url('addons/cona_config/static/src/css/fonts/fira-sans-v16-latin-regular.ttf') format('truetype'), 
         url('addons/cona_config/static/src/css/fonts/fira-sans-v16-latin-regular.svg#FiraSans') format('svg'); 
  }

  @font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('addons/cona_config/static/src/css/fonts/fira-sans-v16-latin-italic.eot'); 
    src: local('Fira Sans'),
         url('addons/cona_config/static/src/css/fonts/fira-sans-v16-latin-italic.eot?#iefix') format('embedded-opentype'), 
         url('addons/cona_config/static/src/css/fonts/fira-sans-v16-latin-italic.woff2') format('woff2'), 
         url('addons/cona_config/static/src/css/fonts/fira-sans-v16-latin-italic.woff') format('woff'), 
         url('addons/cona_config/static/src/css/fonts/fira-sans-v16-latin-italic.ttf') format('truetype'), 
         url('addons/cona_config/static/src/css/fonts/fira-sans-v16-latin-italic.svg#FiraSans') format('svg'); 
  }

  @font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/fira-sans-v16-latin-700.eot'); 
    src: local('Fira Sans'),
         url('addons/cona_config/static/src/css/fonts/fira-sans-v16-latin-700.eot?#iefix') format('embedded-opentype'), 
         url('addons/cona_config/static/src/css/fonts/fira-sans-v16-latin-700.woff2') format('woff2'), 
         url('addons/cona_config/static/src/css/fonts/fira-sans-v16-latin-700.woff') format('woff'), 
         url('addons/cona_config/static/src/css/fonts/fira-sans-v16-latin-700.ttf') format('truetype'), 
         url('addons/cona_config/static/src/css/fonts/fira-sans-v16-latin-700.svg#FiraSans') format('svg'); 
  }
 
  @font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url('addons/cona_config/static/src/css/fonts/fira-sans-v16-latin-700italic.eot'); 
    src: local('Fira Sans'),
         url('addons/cona_config/static/src/css/fonts/fira-sans-v16-latin-700italic.eot?#iefix') format('embedded-opentype'), 
         url('addons/cona_config/static/src/css/fonts/fira-sans-v16-latin-700italic.woff2') format('woff2'),
         url('addons/cona_config/static/src/css/fonts/fira-sans-v16-latin-700italic.woff') format('woff'),
         url('addons/cona_config/static/src/css/fonts/fira-sans-v16-latin-700italic.ttf') format('truetype'), 
         url('addons/cona_config/static/src/css/fonts/fira-sans-v16-latin-700italic.svg#FiraSans') format('svg');
  }

  @font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('addons/cona_config/static/src/css/fonts/fira-sans-v16-latin-800.eot'); 
    src: local('Fira Sans'),
         url('addons/cona_config/static/src/css/fonts/fira-sans-v16-latin-800.eot?#iefix') format('embedded-opentype'), 
         url('addons/cona_config/static/src/css/fonts/fira-sans-v16-latin-800.woff2') format('woff2'), 
         url('addons/cona_config/static/src/css/fonts/fira-sans-v16-latin-800.woff') format('woff'), 
         url('addons/cona_config/static/src/css/fonts/fira-sans-v16-latin-800.ttf') format('truetype'), 
         url('addons/cona_config/static/src/css/fonts/fira-sans-v16-latin-800.svg#FiraSans') format('svg'); 
  }
 
  @font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url('addons/cona_config/static/src/css/fonts/fira-sans-v16-latin-800italic.eot'); 
    src: local('Fira Sans'),
         url('addons/cona_config/static/src/css/fonts/fira-sans-v16-latin-800italic.eot?#iefix') format('embedded-opentype'), 
         url('addons/cona_config/static/src/css/fonts/fira-sans-v16-latin-800italic.woff2') format('woff2'), 
         url('addons/cona_config/static/src/css/fonts/fira-sans-v16-latin-800italic.woff') format('woff'), 
         url('addons/cona_config/static/src/css/fonts/fira-sans-v16-latin-800italic.ttf') format('truetype'), 
         url('addons/cona_config/static/src/css/fonts/fira-sans-v16-latin-800italic.svg#FiraSans') format('svg'); 
  }

  */




/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * ff-meta-correspondence-web-p:
 *   - http://typekit.com/eulas/0000000000000000773599a0
 *   - http://typekit.com/eulas/0000000000000000773599ac
 *   - http://typekit.com/eulas/0000000000000000773599bb
 *   - http://typekit.com/eulas/0000000000000000773599b3
 * ff-meta-web-pro:
 *   - http://typekit.com/eulas/0000000000000000773599c7
 *   - http://typekit.com/eulas/0000000000000000773599cd
 *   - http://typekit.com/eulas/0000000000000000773599ca
 *   - http://typekit.com/eulas/0000000000000000773599ba
 * ff-meta-web-pro-condensed:
 *   - http://typekit.com/eulas/0000000000000000000175d1
 *   - http://typekit.com/eulas/0000000000000000000175d2
 *   - http://typekit.com/eulas/000000000000000077359991
 *   - http://typekit.com/eulas/0000000000000000000175cc
 *
 * © 2009-2021 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2021-01-23 04:05:26 UTC"}*/
/*@import url("https://p.typekit.net/p.css?s=1&k=vhh4ods&ht=tk&f=4648.4649.4650.4651.4660.5241.5301.5302.17570.17571.17572.17573&a=54724125&app=typekit&e=css");


@font-face {
font-family:"ff-meta-web-pro";
src:url("https://use.typekit.net/af/37c53a/0000000000000000773599c7/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/37c53a/0000000000000000773599c7/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/37c53a/0000000000000000773599c7/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
font-family:"ff-meta-web-pro";
src:url("https://use.typekit.net/af/9f5d07/0000000000000000773599cd/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/9f5d07/0000000000000000773599cd/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/9f5d07/0000000000000000773599cd/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"ff-meta-web-pro";
src:url("https://use.typekit.net/af/52375b/0000000000000000773599ca/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/52375b/0000000000000000773599ca/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/52375b/0000000000000000773599ca/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"ff-meta-web-pro";
src:url("https://use.typekit.net/af/818e87/0000000000000000773599ba/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/818e87/0000000000000000773599ba/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/818e87/0000000000000000773599ba/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;
}

@font-face {
font-family:"ff-meta-web-pro-condensed";
src:url("https://use.typekit.net/af/cd55b3/0000000000000000000175d1/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/cd55b3/0000000000000000000175d1/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/cd55b3/0000000000000000000175d1/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"ff-meta-web-pro-condensed";
src:url("https://use.typekit.net/af/5edcb2/0000000000000000000175d2/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/5edcb2/0000000000000000000175d2/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/5edcb2/0000000000000000000175d2/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;
}

@font-face {
font-family:"ff-meta-web-pro-condensed";
src:url("https://use.typekit.net/af/a0aabf/000000000000000077359991/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/a0aabf/000000000000000077359991/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/a0aabf/000000000000000077359991/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"ff-meta-web-pro-condensed";
src:url("https://use.typekit.net/af/3cd025/0000000000000000000175cc/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/3cd025/0000000000000000000175cc/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/3cd025/0000000000000000000175cc/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
font-family:"ff-meta-correspondence-web-p";
src:url("https://use.typekit.net/af/2089fe/0000000000000000773599a0/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/2089fe/0000000000000000773599a0/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/2089fe/0000000000000000773599a0/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"ff-meta-correspondence-web-p";
src:url("https://use.typekit.net/af/06264c/0000000000000000773599ac/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/06264c/0000000000000000773599ac/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/06264c/0000000000000000773599ac/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;
}

@font-face {
font-family:"ff-meta-correspondence-web-p";
src:url("https://use.typekit.net/af/a3cb79/0000000000000000773599bb/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/a3cb79/0000000000000000773599bb/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/a3cb79/0000000000000000773599bb/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
font-family:"ff-meta-correspondence-web-p";
src:url("https://use.typekit.net/af/42f387/0000000000000000773599b3/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/42f387/0000000000000000773599b3/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/42f387/0000000000000000773599b3/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}
*/